body {
  background-color: #EDF7F6;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* For the sticky footer */
main {
  flex: 1 0 auto;
}

.navbar{
  /* background-color: #51e2f5; */
  background-color: #eebd6b;
  font-weight: bold;
}

.jumbotron {
  margin-top: 20px;
  background-color:#447695;
  color: #EDF7F6;
}

.card-header {
  /* background-color: #51e2f5; */
  background-color: #eebd6b;
  color: #EDF7F6;
}

.yellowlink {
  color: blue;
}

.btn {
  background-color: #bfe6ef;
  color: black;
  opacity: 0.5;
}

.btn:hover{
  opacity: 1;
}

/* Creates a sticky footer */
.footer {
  width: 100%;
  background-color: #eebd6b;
  color: #EDF7F6;
  text-align: center;
  font-family: "Dancing Script", cursive;
  padding: 1.5rem 0rem;
}
